<o-form-layout-manager attr="JuniorCamper" mode="tab" title="JUNIORCAMPER">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="JuniorCamperTable" 
            service="JuniorCamper" 
            entity="JuniorCamper" 
            title="JUNIORCAMPER"
            keys="id"
            columns="name;emergency_contact_name;emergency_contact_phone;id" 
            header-actions="R;D"
            visible-columns="name;emergency_contact_name;emergency_contact_phone;id"  
            sort-columns="name" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #name attr="name" title=" name*" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #emergency_contact_name attr="emergency_contact_name" title="emergency_contact_name" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #emergency_contact_phone attr="emergency_contact_phone" title="emergency_contact_phone" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>