<o-form #RacingScheduleForm attr="RacingSchedule_form_insert" service="RacingSchedule" entity="RacingSchedule" 
keys="id" fxLayout="column" show-header="yes" header-actions="I"
horizontal-scroll="yes"
after-insert-mode="new" class="standalone-form-container" (onInsertMode)="onInsertMode()">

<o-row attr="row1" layout-align="start stretch">
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
    
        <o-text-input #event_name attr="event_name" label=" event_name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
        <o-list-picker 
        attr="sailboat_id"
        service="Sailboat" 
        entity="SailboatType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="yes" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;sailboat_id;id" 
        title="sailboat_id"
        visible-columns="id;id" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
        <o-date-input #event_date attr="event_date" type="timestamp" label="event_date" editable="no" required="yes" format="LL" fxFlex="20%" class="form-field"></o-date-input>
      
        <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
</div>
</o-row>

<div layout-padding></div>

</o-form>