<o-form-layout-manager attr="Sailboat" mode="tab" title="SAILBOAT">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="SailboatTable" 
            service="Sailboat" 
            entity="Sailboat" 
            title="SAILBOAT"
            keys="id"
            columns="id;model;size" 
            header-actions="R;D"
            visible-columns="id;model;size"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column #model attr="model" title="model" editable="no" required="yes" content-align="left"></o-table-column>
            
            <o-table-column #size attr="size" title="size" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>