<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="JuniorCamper_form_edit" 
        service="JuniorCamper" 
        entity="JuniorCamper" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #emergency_contact_name attr="emergency_contact_name" label="emergency_contact_name" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-text-input #emergency_contact_phone attr="emergency_contact_phone" label="emergency_contact_phone" enabled="yes" required="yes" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="CAMPATTENDANCE-camper_id">
    <div layout-padding>
      <o-table 
        attr="CampAttendanceTable" 
        service="CampAttendance" 
        entity="CampAttendance" 
        keys="id"
        parent-keys="camper_id:id"
        columns="id;camper_id;instructor_id;price_list_id"  
        horizontal-scroll="yes"
        detail-form-route="CampAttendance" 
        edit-form-route="CampAttendance"
        visible-columns="id;camper_id;instructor_id;price_list_id"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="camper_id" title="camper_id">
    <o-table-cell-renderer-service attr="camper_id" 
        service="JuniorCamper" entity="JuniorCamperType" columns="id;name"
        parent-keys="id:camper_id"
        value-column="name" keys="camper_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="instructor_id" title="instructor_id">
    <o-table-cell-renderer-service attr="instructor_id" 
        service="Instructor" entity="InstructorType" columns="id;name"
        parent-keys="id:instructor_id"
        value-column="name" keys="instructor_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column attr="price_list_id" title="price_list_id">
    <o-table-cell-renderer-service attr="price_list_id" 
        service="CampPriceList" entity="CampPriceListType" columns="id;package_name"
        parent-keys="id:price_list_id"
        value-column="package_name" keys="price_list_id"
        visible-columns="package_name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="FEEDBACK-camper_id">
    <div layout-padding>
      <o-table 
        attr="FeedbackTable" 
        service="Feedback" 
        entity="Feedback" 
        keys="id"
        parent-keys="camper_id:id"
        columns="id;camper_id;comments"  
        horizontal-scroll="yes"
        detail-form-route="Feedback" 
        edit-form-route="Feedback"
        visible-columns="id;camper_id;comments"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="camper_id" title="camper_id">
    <o-table-cell-renderer-service attr="camper_id" 
        service="JuniorCamper" entity="JuniorCamperType" columns="id;name"
        parent-keys="id:camper_id"
        value-column="name" keys="camper_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #comments attr="comments" title="comments" editable="no" required="no" content-align="left"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>